In [1]:
import csv
import pandas as pd
import plotly.express as px

In [31]:
df = pd.read_excel("nightingale-data.xlsx", header=[0,1])

df.columns = df.columns.map('_'.join)
df.rename(columns ={"Unnamed: 0_level_0_Month":"Month", "Unnamed: 1_level_0_Average size of army":"Average size of army"},inplace=True)

In [34]:
df[df["Month"].str.contains("1855")]

,Month,Average size of army,Deaths_Zymotic diseases,Deaths_Wounds & injuries,Deaths_All other causes,Annual rate of mortality per 1000_Zymotic diseases,Annual rate of mortality per 1000_Wounds & injuries,Annual rate of mortality per 1000_All other causes
9,Jan 1855,32393,2761,83,324,1022.8,30.7,120.0
10,Feb 1855,30919,2120,42,361,822.8,16.3,140.1
11,Mar 1855,30107,1205,32,172,480.3,12.8,68.6
12,Apr 1855,32252,477,48,57,177.5,17.9,21.2
13,May 1855,35473,508,49,37,171.8,16.6,12.5
14,Jun 1855,38863,802,209,31,247.6,64.5,9.6
15,Jul 1855,42647,382,134,33,107.5,37.7,9.3
16,Aug 1855,44614,483,164,25,129.9,44.1,6.7
17,Sep 1855,47751,189,276,20,47.5,69.4,5.0
18,Oct 1855,46852,128,53,18,32.8,13.6,4.6
19,Nov 1855,37853,178,33,32,56.4,10.5,10.1
20,Dec 1855,43217,91,18,28,25.3,5.0,7.8